<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>

<body>

    <p>{{session['recentEmail']}} was validated and entered into the database</p>
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for e in emails %}
            <tr>
                <td>{{e["email"]}}</td>
                <td>{{e["created_at"]}}</td>
            </tr>
            {% endfor %}
    </tbody>

    </table>
</body>
</html>